/*about*/
.post_content{
    margin: 20px 0;
}
.post_content h1.title {
    font-size: 30px;
    font-weight: lighter;
    color: #4c4c4c;
}
.post_content .ab_top{
    margin: 20px 0px;
}
.post_content .ab_middle{
    margin: 20px 0px;
}

.post_content .ab_text{
    font-size:30px;
    margin: 20px 0;
}

.one_third{display: inline-block; width: 30%;}
.one_third img{width: 100%;}
.two_third{display: inline-block; width: 65%; vertical-align: top; margin-left:4%; margin-top: 40px;}

.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin-bottom: 10px;
    max-width: 96%;
    padding: 8px;
}

.one_half{display: inline-block; width: 24%;}

/*business*/
.businesswrap {}

.business-sub {
    position: relative;
    display: inline-block;
}

.business-sub:first-child {
    margin-left: 14px;
}

.business-sub .writer {
    position: absolute;
    top: 20px;
    left: 20px;
}

.business-sub .writer p {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    color: #fff;
    margin-left: 10px;
}

.business-sub .writer i {
    color: #fff;
}

.business-sub .writer img {
    width: 30px;
    border-radius: 15px;
    display: inline-block;
}

.business-sub .img img {
    width: 355px;
    height: 355px;
}

.business-subject {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.business-subject a p {
    color: #fff;
    font-size: 20px;
    width: 320px;
    margin-bottom: 15px;
}

.business-subject .line {
    border-bottom: 2px solid #fff;
    width: 100%;
}

.business-sub .comment-sub {
    display: inline-block;
    font-size: 13px;
    color: #fff;
}

.business-sub .comment-sub span {
    margin-left: 10px;
    font-size: 13.8px;
    color: #fff;
}

.business-sub .like {
    display: inline-block;
    float: right;
}

.business-sub .like i {
    color: #cc3444;
}

/*contact*/
.contactbg {
    background: url("../img/office-925806.jpg") no-repeat center;
    background-size: 100%;
    height: 150px;
    position: relative;
}

.contactbg h1 {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.contact {}

.contact h2 {
    text-align: center;
    font-size: 25px;
    margin: 30px 0;
    font-weight: normal;
}

label span {
    color: #D74545;
    font-size: 8px;
    vertical-align: top;
    font-weight: bold;
    margin-right: 1px;
}

label {
    font-size: 10px;
    color: #aaa;
    font-weight: bold;
    vertical-align: top;
}

input[type=text],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    height: 100px;
}

.submit {
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

input[type=submit] {
    background-color: #7FCCF7;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

input[type=submit]:hover {
    opacity: 0.95;
}
*/


/*blog*/
.story {
    position: relative;

}

.category {
    margin: 40px 0;
}

.category ul {
    display: inline-block;
}

.category ul li a:hover {
    color: #1BA3E0;
}

.blogin {
    position: absolute;
    top: 10px;
    right: 0px;
}

.blogin .bloginbutton {}

.blogin .bloginbutton a {
    color: #1BA3E0;
    padding: 10px 15px;
    border: 1px solid #1BA3E0;
}

.search {
    position: absolute;
    top: 13px;
    right: 130px;
}

.search i {
    font-size: 15px;
}

.category ul li {
    display: inline-block;
    padding: 5px;
}

.bwrap {
    width: 980px;
    margin: 0 auto;
}

.blogwrap {
    margin: 0 auto;
    width: 90%;
}

.blog-sub {
    height: 350px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 20px;
}

.blog-sub .img {
    width: 500px;
    height: 350px;
    display: inline-block;
    box-sizing: border-box;
}

.blog-sub .img img {
    width: 100%;
    height: 350px;
    display: inline-block;
}

.blog-sub .writer {
    margin: 40px 20px 20px 20px;
    position: relative;
}

.blog-sub .writer p {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #777;
}

.blog-sub .writer .share {
    position: absolute;
    top: 0;
    right: 20px;
}

.blog-sub .writer img {
    width: 30px;
    border-radius: 15px;
    display: inline-block;
}

.blog-sub .blog-subject {
    display: inline-block;
    vertical-align: top;
    width: 473px;
}

.blog-sub p.title {
    font-size: 25px;
    margin: 20px;
}

.blog-sub p.content {
    font-size: 16px;
    margin: 20px 20px 70px 20px;
}

.blog-sub .comment-sub {
    margin: 20px;
    display: inline-block;
    font-size: 13px;
}

.blog-sub .comment-sub span {
    margin-left: 10px;
    font-size: 13.8px;
}

.blog-sub .like {
    margin: 20px;
    display: inline-block;
    float: right;
}

.blog-sub .like i {
    color: #cc3444;
}


/*readblog*/

.blogreadwrap {
    margin: 0 auto;
    width: 90%;
}

.blogread-sub {
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 20px;
}

.blogread-sub .img {
    width: 600px;
    height: 450px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 20px;
}

.blogread-sub .img img {
    width: 100%;
    height: 450px;
    display: inline-block;
}

.blogread-sub .writer {
    margin: 40px 20px 20px 20px;
    position: relative;
}

.blogread-sub .writer p {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    margin-left: 10px;
}

.blogread-sub .writer .share {
    position: absolute;
    top: 0;
    right: 20px;
}

.blogread-sub .writer img {
    width: 30px;
    border-radius: 15px;
    display: inline-block;
}

.blogread-sub .blog-subject {
    display: inline-block;
    vertical-align: top;
    width: 473px;
}

.blogread-sub p.title {
    font-size: 25px;
    margin: 20px;
}

.blogread-sub p.content {
    font-size: 16px;
    margin: 20px 20px 20px 20px;
}

.blogread-sub .comment-sub {
    margin: 20px;
    display: inline-block;
    font-size: 13px;
}

.blogread-sub .comment-sub span {
    margin-left: 10px;
    font-size: 13.8px;
}

.blogread-sub .like {
    margin: 20px;
    display: inline-block;
    float: right;
}

.blogread-sub .like i{
    color:#cc3444;
}

.bnew-list {
    position: relative;
}

.bnew-list .newcontent {
    margin-bottom: 20px;
}

.bnew-list .allview {
    position: absolute;
    top: 0;
    right: 0;
}

.bnew-list .allview:hover {
    color: #1BA3E0;
}

.commentview {
    padding: 40px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.commentview p {
    font-size: 17px;
}

.commentview p span {
    font-size: 17px;
    color: #1BA3E0;
    font-weight: bold;
}
